<!doctype html>
<html>
  <head>
    <style>
      #map {
        width: 800px;
        height: 600px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>

    <!-- Google Maps JS API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpCxeN85wfuNk5P5dRKa0HbUiLw_Y2BSc&callback=initMap"></script>
    <!-- GMaps Library -->
    <script src="http://emj56gkf1s.canadaeast.cloudapp.azure.com/gmap/gmaps.js"></script>
    <script>
      /* Map Object */
{{{body}}}
    </script>
  </body>
</html>
  
